li {
  list-style: none;
}

.chirpsFeed {
  display: flex;
  flex-direction: column-reverse;
}

.singleChirp {
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  font-weight: bold;
  color: #ff9494;
}
